.debform {
    border-collapse: collapse;
}

.debform th {
    border: 1px solid #333333;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
.debform td {
    border: 1px solid #333333;
    padding: 2px;
    vertical-align: middle;
}

td.right {
    text-align: right;
}
td.center {
    text-align: center;
}

h1.h1class {
    text-align: center;
}

table           { border-collapse: separate; border-spacing: 1px; }

table.tablesorter {
font-size: 100%;
text-align: center;
}

table.tablesorter th {
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}
table.tablesorter tbody td {
    padding: 2px;
    vertical-align: middle;
}
